/* Variables */

h1 {
  color: #2e4049;
  padding-top: 110px;
  font-family: 'News Cycle', sans-serif;
  font-weight: lighter;
  font-size: 70px;
  text-align: center;
}

h2 {
  color: #E0DEDE;
  /* padding-top: 10px; */
  font-family: 'News Cycle', sans-serif;
  font-weight: lighter;
  font-size: 70px;
  text-align: center;
}

h3 {
  color: #E0DEDE;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: lighter;
  font-size: 16px;
  line-height: 26px;
}

h4 {
  color: #2C2B29;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: lighter;
  font-size: 16px;
  line-height: 16px;
}

h5 {
  color: #B1AAAA;
  text-align: justify;
  padding-top: 10px;
  font-family: 'News Cycle', sans-serif;
  font-size: 16px;
}

h6 {
  color: #2C2B29;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: lighter;
  font-size: 16px;
  line-height: 26px;
}


/* Section 1 */
.nav-item {
  background-color: #507182;
  padding-top: 10px;
}

#navbarText ul {
  padding-left: 40px;
  padding-right: 40px;
  width: 100%;
  display: inline-flex;
  justify-content: space-around;
}

.mynavbar {
  font-family: 'Raleway', sans-serif;
  font-weight: lighter;
  font-size: 16px;
  /* padding-top: 20px; */
  background-color: #507182;
}

.mynav {
  color: #2e4049; !important;
}


.myheader {
  background-color: #507182;
  height: 1000px;
  font-family: 'Raleway', sans-serif;
  font-weight: lighter;

}

.mynewpic {
  /* height: 300px;
  width: 620px; */
  padding-top: 20px;
  /* padding-right: 0px; */
  display: inline-flex;

}


.item-link {
  margin: 0 20px;
}

/* Section 2 */

.myprojects {
  background-color: #507182;
  height: 1600px;
  font-family: 'Raleway', sans-serif;
  font-weight: lighter;
  padding-top: 80px;

}

.myportfoliopic {
  height: 180px;
  width: 180px;
  /* padding-top: 30px; */

}


/* Section 3 */

.aboutme {
  background-color: #507182;
  /* padding-bottom: 200px; */
  font-family: 'Raleway', sans-serif;
  height: 720px;
  text-align: center;
}

.mycontact {
  font-family: 'Raleway', sans-serif;

}

.btn-outline-secondary {
  border-color: #2e4049;
  color: #2e4049;

}

.mybutton:hover {
  background-color: #E0DEDE;
  justify-content: space-between;
}

.myicons {
  padding-top: 30px;

}

.myicons div {
  display: inline-block;
}

.myicons img {
  width: 35px;
}


.col-12 {
  margin-bottom: 15px;
  padding-top: 20px
}
