/* Variables */

h1 {
  color: #B1AAAA;
  text-align: center;
  padding-top: 300px;
  font-family: Lora;
  font-size: 60px;

}


h2 {
  color: #B1AAAA;
  text-align: justify;
  padding-top: 80px;
  font-family: Lora;
  font-size: 18px;
}

h3 {
  color: #B1AAAA;
  text-align: justify;
  font-family: Lora;
  font-size: 16px;

}


h5 {
  color: #B1AAAA;
  text-align: justify;
  padding-top: 10px;
  font-family: Lora;
  font-size: 18px;
}




/* Section 1 */

#logo {
  width: 70px;
  height: 50px;
  margin-left: 30px;

}

.nav-item{
  background-color: white;
  padding-top: 40px;
}


#navbarText ul {
  padding-left: 150px;
  padding-right: 150px;
  width: 100%;
  display: flex;
  justify-content: space-around;

}

.mynavbar {
  font-family: Lora;
  font-size: 16px;
  padding-top: 20px;
  background-color: white;
}

.mynav {
  color: #B1AAAA!important;
}

/* .mynavbar li {
  display: inline-block;
  font-family: Lora;
  color: #B1AAAA; */


.myheader {
  background-color: #2C2B29;
  height: 800px;
  font-family: Lora;
}

.btn-outline-secondary {
  border-color: #B1AAAA;
  color: #B1AAAA;
}

.mybutton:hover {
  background-color: #C9C7C3;
}

.col-12 {
  padding-top: 100px;
}

.item-link {
  margin: 0 20px;
}


/* Section 2 */

.card-row {
  margin: 30px 0;
}

.card-title {
  font-family: Lora;
  font-size: 12;
  color: #B1AAAA;

}


/*Section 3 */

.mypic {
  height: 280px;
  width: 200px;
  padding-top: 60px;
}

.aboutme {
  background-color: #2C2B29;
  padding-bottom: 200px;
  font-family: Lora;
  height: 700px;
}

/* Section 4-contact */

.mycontact {
  background-color: #2C2B29;
  padding-bottom: 200px;
  font-family: Lora;
  margin-top: 30px;
  height: 400px;
}

.myicons {
  padding-top: 10px;

}

.myicons div {
  display: inline-block;
}

.myicons img {
  width: 40px;
  margin-left: 15px;
}


.col-12 {
  margin-bottom: 15px;
}
